@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nova+Square&display=swap');

/* Lightsaber Colors */
/* 
blue: rgb(46, 103, 248)
red: rgb(235, 33, 46)
green: rgb(47, 249, 36)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-image: url('./images/star-lines.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  font-family: Inter;
}
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.logo {
  max-width: 700px;
  height: auto;
  margin-top: 36px;
}
.container {
  margin: 0 auto;
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
}
.nav li a {
  color: rgb(46, 103, 248);
  font-size: 1.5rem;
}
.nav li a:hover {
  color: #ffffff;
  text-shadow: 0 6px 4px rgb(46, 103, 248), 0 -6px 4px rgb(46, 103, 248);
  border-bottom: 2px solid rgb(46, 103, 248);
}